<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="lib/vue.min.js"></script>
    <script src="lib/lodash.min.js"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">


    <script src="js/script.js"></script>

    <link rel="stylesheet" href="css/styles.css">

    <title>Gestionnaire restaurants VueJS</title>
</head>

<body>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material"></script>
    <script>Vue.use(VueMaterial.default)</script>
    <div id="app">
        <h2>{{msg}}</h2>
        <!--l'attribut @input est comme @change permet d'appeler un évenement-->
        <!-- <p>Chercher des restaurants par nom : <input @input="ChercherRestaurant()" type="text"
                v-model="NomRestauRecherche"></p>-->
        <form @submit.prevent="ajouterRestaurant()">
            <!--submit.prevent pour avoir des raccoursis-->

            <label>
                Nom : <input name="nom" type="text" required v-model="nom">
            </label>
            <label>
                Cuisine : <input name="cuisine" type="text" required v-model="cuisine">
            </label>

            <button>Ajouter</button>
        </form><br><br>



        <h1 style="color: blue;">Nombre de restaurants trouvés : {{restaurantsNombreTotal}}</h1>
        <br>
        <div class="slidecontainer" style="color:darkgoldenrod;">
            Choisissez un nombre de restaurant par page : &nbsp;&nbsp;&nbsp;
            <!--l'attribue v-model comme elle remplace la fonction de l'attribut value
       alors qu'on utilise la directive v-model  pour créer une liaison de données bidirectionnelle
        sur les champs de formulaire (input, select ou textarea) et un objet JS-->
            <!--on fait un événement par v-on: ou @
        l'evenement change est appelé quand je lache le curseur-->
            <input v-on:change="getRestaurantsFromServer()" type="range" min="5" max="100" v-model="pageSize"
                step="5">{{pageSize}}
        </div>
        <br><br>
        <button :disabled="NombrePage===0" v-on:click="ActionPrecedent()" style="color: dodgerblue;">Page
            Précédente</button>
        <!--on ajoute l'attribut disabled pour faire griser le boutton, et pour faire cette option dynamique on ajoute une condition-->
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button :disabled="NombrePage===nbrPage" v-on:click="ActionSuivant()" style="color: dodgerblue;">Page
            Suivant</button>
        <br><br>
        <P style="color: blue;">Nombre de page courant est : {{NombrePage}}</P>
        <br>
        <!--  <table>
            <tr>
                <th>Nom</th>
                <th>Cuisine </th>
               <th>Supression</th>
            </tr>
            <tbody>
                <tr v-for="r,index in restaurants" 
                    v-bind:style="{backgroundColor:getColor(index)}" v-bind:class="{bordureRouge:(index === 2)}">
                    <td>{{r.name}}</td>
                    <td> {{r.cuisine}}</td>
                    <td> <button v-on:click="supprimerRestaurant(r)">Delete</button></td>
                </tr>
            </tbody>
        </table>-->

        <div>
            <md-table md-card>

                <md-table-toolbar>
                    <div class="md-toolbar-section-start">
                        <h1 class="md-title">Liste des Restaurants</h1>
                    </div>
                    <md-field md-clearable class="md-toolbar-section-end">
                        <md-input placeholder="Recherche des restaurants par Nom..." v-model="NomRestauRecherche"
                            @input="ChercherRestaurant()" />
                    </md-field>
                </md-table-toolbar>

                <md-table-row>
                    <md-table-head>Nom</md-table-head>
                    <md-table-head>Cuisine</md-table-head>
                    <md-table-head>Supression</md-table-head>
                </md-table-row>

                <md-table-row v-for="r,index in restaurants">
                    <md-table-cell>{{r.name}}</md-table-cell>
                    <md-table-cell>{{r.cuisine}}</md-table-cell>
                    <md-table-cell><button style="color: crimson;"
                            v-on:click="supprimerRestaurant(r)">Supprimer</button></md-table-cell>

                </md-table-row>

            </md-table>
        </div>

        <br><br>


    </div>
</body>

</html>